@mixin flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

* {
	box-sizing: border-box;
	font-family: 'Lato';
}

@import 'pavlov';
@import 'analysis';
@import 'board';
@import 'gameviewer';
@import 'variations';
@import 'line';
@import 'page';
@import 'panel';
@import 'selection';
@import 'user';
@import 'construction';
